body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-group {
  padding-top: 20px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

p > .btn {
  margin: 5px 0;
}

.navbar .container {
  width: auto;
}

.navbar {
  font-size: 18px;
}

.navbar-brand {
    line-height: 50px;
}

.navbar-brand > img{
  vertical-align: top;
  display: inline;
  margin-top: -14px;
}
